language: ruby
cache: bundler
rvm:
  - 2.4.1

services:
  - docker
  - postgresql

env:
  global:
  - REPO=quay.io/koudaiii/myapp
  - DEPLOYMENT_NAME=${REPO##*/}
  - NAMESPACE=$DEPLOYMENT_NAME
  - KUBECTL_VERSION=1.6.6
  - KOPS_VERSION=1.6.2
  - K8S_PROD_CLUSTER=prod.cluster.example.com
  - K8S_QA_CLUSTER=qa.cluster.example.com
  - TAG_COMMIT=$TRAVIS_COMMIT
  - TAG_COMMIT_SHORT=${TRAVIS_COMMIT::7}
  - TAG_BRANCH=$(echo $TRAVIS_BRANCH | sed -e 's/[^a-zA-Z0-9-]/_/g')
  # DOCKER_USERNAME
  - secure: "qkRvICpUUn4yJR2/8eb+oGM/5qeB/dNqvxLCeJUB7hQ709S3JoJDqoZoHQv5akH/HOFVKsakfO4KL5lnxhbsBC4mtVsJINSgckOqQDUkv1uwBMi6OTST0PHXgs9SBcZwCcOUbZaTtHTKKWQbRsVVMvjsEqnI2DN/HDVy/+U6L7/q+bx027/kBGssRJAdDx0nfpkJgjuwHvc8B/2nAmUuEnj0oGawLWkyACBV65WoUV6Cx4sBQoTjHAodfAoQZdnZa1x588XC++q1rP4c4mKtENFgujisuC73dLfLAZWoqMmo6fLVCNAEze6n0o2c/1TJsHQEezFs+FaNsZjAF0f3CP6SLrfN2pbQ3E9OZLfD5AWNeNr3OQSu9IdZ2Qv1pjk1uZM3iIwctSkVo9Jiv1pcaFuFjZZbvBnBXc2Ywzh4znlUY7FZVrwgVdEP49b62QrnEFqW+fItL53WQSYgHN0qA6Uc850BXM16CZ2oe5tuXnRIEyEQzrLDd2nu0WDG23SRmPAIMDqPqYQ3crnZxuZOJW88fXyv2XWevr0o2xl+dBoZkKdWdHfbwOdE/lgGxu8tYzqdoS05XSAF5dr1lEd8opXKWAXVWLiR+PtvYFPmDOLJ6K02SlAPzUxnHVmEcl7MnlW48+NxDPzUmgfYnYJoh2NeyBDFt7OVFABN+lNioqk="
  # DOCKER_PASSWORD
  - secure: "yoG62Q9zF3pO7a4zGPDSEKiVaEpk5EwNIrkxjl0+G5OOpeTaWuUYBPzHonMeHv6EUT1xsXAPdimBZxsmE4aXgYc0y09Ob1SHBCaKiwimrCFNKTbr10BdWPrkVo53YqCZ9dfF6wUId2gLjXhGZDD5cjylrhbWLw07n6mOQ2AGhgW9e6Lk8zjffV86RLhByxlO7Qe2Pj/ObVYy99CaKw1s7ClzDMghLr0Rg7so2t5llYIXSDYZss3r5U059pZbR1mpc9Y1/CX7YdsthF7UqLEb5LHpoHYri9BkXT75LTdmnbDq1FP8qw47FL2f0B5+h7NjNtw9YgJH+lWl4gVhHCJPEGi4j4L/mKwFw+7oz9BfNtFLQZoss2f8Mr2rioDlt7/cF5mm3UKey60WgIZ3SjNOiKfyzJP96m9qX9LjkVnDOm2YD0O6YDjif5LNzJ0UGUdJjN4LmCD9WMdmpAc+d0kJOuf4Phgp27/Gl2nd/vjmdIHj1/v1EydFoW+4PkWkKRMu+NrIEcqp1doodYVTN7b7zeYI6Y5a/iP5nwRruc8bYExhLjQl9UsJjMBz36gLqjhJ3IlHmqnvB0uDJSwETQ1JMldTmWwtbr671AUboHbVF8mwCK1E9uBXcAmTsiExXaeCqqorJ43+GCtC7da/n+9A0A5rLU+IKq+CI6jZ6dRsNwI="
  # AWS_DEFAULT_REGION
  # AWS_REGION
  # AWS_ACCESS_KEY_ID
  # AWS_SECRET_ACCESS_KEY
  # KOPS_STATE_STORE
  - YARN_VERSION=0.28.4

cache: bundler

before_install:
  - "npm install -g yarn@$YARN_VERSION"

before_script:
  - bundle exec rails db:create RAILS_ENV=test

script:
  - ./script/ci-test
  - ./script/ci-assets-build
  - ./script/ci-build
  - ./script/ci-push

before_deploy:
  - curl -SL -o ./kubectl "https://storage.googleapis.com/kubernetes-release/release/v${KUBECTL_VERSION}/bin/linux/amd64/kubectl"
  - chmod +x ./kubectl
  - curl -SL -o ./kops "https://github.com/kubernetes/kops/releases/download/${KOPS_VERSION}/kops-linux-amd64"
  - chmod +x ./kops

deploy:
  skip_cleanup: true
  provider: script
  script: "./script/ci-deploy"
  on:
    all_branches: true
